@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic);

@font-face {
	font-family: 'Icons';
	src:url('fonts/icomoon.eot?-5g61zj');
	src:url('fonts/icomoon.eot?#iefix-5g61zj') format('embedded-opentype'),
		url('fonts/icomoon.woff?-5g61zj') format('woff'),
		url('fonts/icomoon.ttf?-5g61zj') format('truetype'),
		url('fonts/icomoon.svg?-5g61zj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('fonts/avenir-next-thin.eot');
	src: url('fonts/avenir-next-thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/avenir-next-thin.woff') format('woff'),
		url('fonts/avenir-next-thin.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;   
}

@font-face {
	font-family: 'AvenirNext';
	src: url('fonts/AvenirNext-Medium.eot');
	src: url('fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/AvenirNext-Medium.woff') format('woff'),
		url('fonts/AvenirNext-Medium.ttf')  format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('fonts/AvenirNext-MediumItalic.eot');
	src: url('AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNext-MediumItalic.woff') format('woff'),
		url('AvenirNext-MediumItalic.ttf')  format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('fonts/avenir-next-regular.eot');
	src: url('fonts/avenir-next-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/avenir-next-regular.woff') format('woff'),
		url('fonts/avenir-next-regular.ttf')  format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('fonts/avenir-next-italic.eot');
	src: url('fonts/avenir-next-italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/avenir-next-italic.woff') format('woff'),
		url('fonts/avenir-next-italic.ttf')  format('truetype');
	font-weight: 600;
	font-style: italic;   
}

@font-face {
	font-family: 'AvenirNext';
	src: url('fonts/avenir-next-bold.eot');
	src: url('fonts/avenir-next-bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/avenir-next-bold.woff') format('woff'),
		url('fonts/avenir-next-bold.ttf')  format('truetype');
	font-weight: 800;
	font-style: normal;   
}
